[submodule "monero-lws"]
	path = monero-lws
	url = https://github.com/vtnerd/monero-lws
	branch = feature/no_auth_admin
[submodule "docker-monero-node"]
	path = docker-monero-node
	url = https://github.com/lalanza808/docker-monero-node
