{% extends 'includes/base.html' %}

{% block content %}
{% set info = wallet.get_wallet_info() %}
<h1>{{ wallet.name }}</h1>
<h5>{{ wallet.description }}</h5>
<h6>{{ wallet.date }}</h6>
<p>Restore Height: {{ wallet.restore_height }}</p>
<p>Address: {{ wallet.address }}</p>
<p>Locked: {{ info['locked_funds'] }}</p>
<p>Received: {{ info['total_received'] }}</p>
<p>Sent: {{ info['total_sent'] }}</p>
<p>Scanned Height: {{ info['scanned_height'] }} ({{ info['blockchain_height'] - info['scanned_height'] }} blocks away from top)</p>
<p>Chain Height: {{ info['blockchain_height'] }}</p>
<p>Spent Outputs: {{ info['spent_outputs'] | length }}</p>
<!-- 
    {
        'amount': '123123123', 
        'key_image': 'asdasdasd', 
        'tx_pub_key': 'asdasdasd', 
        'out_index': 1, 
        'mixin': 15
    } 
-->

<a href="{{ url_for('wallet.rescan', id=wallet.id) }}"><button>rescan</button></a>
{% endblock %}