<table class="striped">
    <thead>
      <tr>
        <th>Label</th>
        <th>Status</th>
        <th>Action</th>
        <th>Address</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      {% for status in requests %}
        {% for request in requests[status] %}
        <tr>
          <td>?</td>
          <td>
            <span class="tag text-grey">
              PENDING
            </span>
          </td>
          <td>
            <button class="button primary" hx-target="#show_wallets" hx-get="{{ url_for('wallet.accept', address=request['address']) }}" hx-swap="innerHTML">Accept</button>
            <button class="button error" hx-target="#show_wallets" hx-get="{{ url_for('wallet.reject', address=request['address']) }}" hx-swap="innerHTML">Reject</button>
          </td>
          <td>{{ request['address'] | shorten }}</td>
          <td>{{ request['start_height'] }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      {% for status in accounts %}
        {% for account in accounts[status] %}
        <tr>
          <td>
            <div hx-get="/htmx/label_wallet" hx-target="this" hx-swap="outerHTML" hx-vals='{"address": "{{ account['address'] }}", "label": "{{ account['address'] | find_label }}"}'>
              <span class="underline">{{ account['address'] | find_label }}</span> <i class="fa-regular fa-pen-to-square"></i>
            </div>
          </td>
          <td>
            <span class="tag {% if status == 'active' %}text-primary{% else %}text-error{% endif %}">
              {{ status | capitalize }}
            </span>
          </td>
          <td>
            {% if status == 'active' %}
              <button class="button dark outline" hx-target="#show_wallets" hx-get="{{ url_for('wallet.modify', address=account['address'], status='inactive') }}" hx-swap="innerHTML">Deactivate</button>
            {% else %}
              <button class="button primary outline" hx-target="#show_wallets" hx-get="{{ url_for('wallet.modify', address=account['address'], status='active') }}" hx-swap="innerHTML" >Activate</button>
              <button class="button error" hx-target="#show_wallets" hx-get="{{ url_for('wallet.modify', address=account['address'], status='hidden') }}" hx-swap="innerHTML" >Hide</button>
              {% endif %}
          </td>
          <td>{{ account['address'] | shorten }}</td>
          <td>
            <div hx-get="/htmx/set_height" hx-target="this" hx-swap="outerHTML" hx-vals='{"address": "{{ account['address'] }}", "height": "{{ account['scan_height'] }}"}'>
              <span class="underline">{{ account['scan_height'] }}</span>
              <i class="fa-regular fa-pen-to-square"></i>
            </div>
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
</table>

