.key {
    color: #666;
    font-size: .9em;
    user-select: all;
}

.smol {
    font-size: .8em;
    color: #666;
}

.content {
    padding-top: 2em;
}

.subtext {
    font-size: 1em;
    display: block;
    color: #666;
}

input {
    display: block;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.hidden {
    display: none !important;
}

.indicator .htmx-request{
    display:inline;
}

.indicator.htmx-request{
    display:inline;
}

.underline {
    text-decoration: underline dotted;
}

.showFade {
    animation-name: render;
    animation-duration: .5s;
}

@keyframes render {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}