{% extends 'includes/base.html' %}

{% block content %}

<h1>Monero Lightwallet Server</h1>
<p>LWS Admin: {{ config.LWS_ADMIN_URL }}</p>
<p>LWS RPC: {{ config.LWS_URL }}</p>

<div>
  <a hx-get="/htmx/import_wallet" hx-target="#walletForm" class="button primary outline">Import Wallet</a>
  <a hx-get="/htmx/create_wallet" hx-target="#walletForm" class="button primary">Create Wallet</a>
  <p id="walletForm" style="margin: 2em 0 2em 0"></p>
</div>

<div>
  <h3>Accounts</h3>
  <div hx-get="/htmx/show_wallets" hx-target="#show_wallets" class="button outline" hx-indicator="#refreshLoader">
    Refresh
    <i class="fa-solid fa-rotate-right indicator" id="refreshLoader"></i>
  </div>
  <div hx-trigger="load" hx-get="/htmx/show_wallets" id="show_wallets"></div>
</div>

{% endblock %}
