{% extends 'includes/base.html' %}

{% block content %}
<a href="/">Go Back</a>
<h1>Add a Wallet</h1>
<form method="post">
    <label for="address">Address</label>
    <input type="text" name="address" value="{{ request.args.get('address', '') }}" />
    <label for="view_key">View Key</label>
    <input type="text" name="view_key" />
    <label for="restore_height">Restore Height</label>
    <input type="number" name="restore_height" />
    <button type="submit">Send</button>
</form>
{% endblock %}




