{% extends 'includes/base.html' %}

{% block content %}
<h1>LWS Web Admin</h1>
<p>LWS Admin: {{ config.LWS_ADMIN_URL }}</p>
<p>LWS RPC: {{ config.LWS_URL }}</p>
<h3>Accounts</h3>
<a href="/wallet/add" class="button outline primary">Add Wallet</a>
<table class="striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Wallet</th>
      <th>Address</th>
      <th>Description</th>
      <th>Height</th>
    </tr>
  </thead>
  <tbody>
    {% for address in data %}
      {% set _data = data[address] %}
      <tr>
        <td>
          <span class="tag text-white {% if _data['status'] == 'active' %}bg-success{% else %}bg-error{% endif %}">
            {{ _data['status'] | upper }}
          </span>
        </td>
        <td>
          {% if _data['wallet'] %}
            <a href="/wallet/{{ data[address]['wallet'].id }}">{{ data[address]['wallet'].name }}</a>
          {% else %}
          <a href="/wallet/add?address={{ address }}" class="button">ADD</a>
          {% endif %}
        </td>
        <td>{{ address | shorten }}</td>
        <td>
          {% if _data['wallet'] %}
            {{ _data['wallet'].description or "-" }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>{{ data[address]['scan_height'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
