{% extends 'includes/base.html' %}

{% block content %}
<h1>LWS Web Admin</h1>
<a href="{{ url_for('wallet.list') }}" class="button outline primary">Manage Wallets</a>
<hr>
<p>LWS Admin: {{ config.LWS_ADMIN_URL }}</p>
<p>LWS RPC: {{ config.LWS_URL }}</p>
<!-- <p>{{ wallets.count() }} wallet{% if wallets.count() > 1 %}s{% endif %} being scanned by LWS</p> -->
<h3>Active Accounts</h3>
{% for a in lws_accounts['active'] %}
<li>{{ a['address'] }} - {{ a['scan_height'] }}</li>
{% endfor %}
{% endblock %}

