{% for message in get_flashed_messages() %}
  <li>{{ message }}</li>
{% endfor %}
<br />
<div id="login">
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <button type="submit">Send</button>
    </form>
</div>

<style>
    input {
        display: block;
        padding-bottom: .5em;
        margin-bottom: 1em;
    }
</style>